/ {
    ultrasonic: ultrasonic {
        status = "okay";
        compatible = "hc-sr04";
        trigger-gpios = <&gpio1 10 GPIO_ACTIVE_HIGH>;
        echo-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
    };


    chosen {
        zephyr,display = &ssd1306;
    };
};

&arduino_i2c {

    status = "okay";

    ssd1306: ssd1306@3c {
            status = "okay";
            compatible = "solomon,ssd1306fb";
            reg = <0x3c>;
            label = "SSD1306";
            width = <128>;
            height = <64>;
            segment-offset = <0>;
            page-offset = <0>;
            display-offset = <0>;
            multiplex-ratio = <63>;
            segment-remap;
            com-invdir;
            inversion-on;
            prechargep = <0x22>;
    };

};
